target
generated-source

*.class
*.log
*.update
*.versionsBackup
*.orig

#################
## Eclipse
#################
*.classpath
*.project
*.settings
*/target/**
/target/
/bin/**

Thumbs.db
desktop.ini

